html {
  overflow-y: scroll;
}

body {
  background: #faf4fb;
 
}

nav {
	background: #FFFFFF;
}

.navbar-brand{
	font-family: 'Cinzel', serif !important;
	color:#4B0082 !important;

}

.footer-text{
	text-align:center !important;
	font-size: .8em;
	margin-top:10px;
}

h1, h3{
	color:#9400D3;
}

.questions-heading{
	color:#9400D3;
}


.main-lesson-title{
	text-align: center;
	padding-bottom:10px;
	color:#9400D3;
}

.navbar-default .navbar-nav>li>a{
	color:#9400D3;
}

.hero-img {
  width:100%;

}

.brief-intro {
	margin: 20px 0;
	font-size: 16px;
	line-height: 24px;
}

.contact {
	margin: 20px 0;
	padding:5px;
	background-color:#d26bff;
	color:#FFFFFF;
}

.lesson-holder img {
	width: 100%;
}

.img-hover-style{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
	}

	.img-hover-style li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.img-hover-style li:hover .caption{
		opacity: 1;
	}

	.img-hover-style li:hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
	}


	.img-hover-style img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
	}


	.img-hover-style .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
	}

	.img-hover-style img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
	}
	.img-hover-style .blur{
		background-color: rgba(142, 68, 173,0.95);
		height: 300px;
		width: 400px;
		z-index: 5;
		position: absolute;
	}

	.img-hover-style .caption-text h1{
		text-transform: uppercase;
		font-size: 1em;
		margin-left: 10px;
	}
	.img-hover-style .caption-text{
		z-index: 10;
		color: #fff !important;
		position: absolute;
		width: 400px;
		height: 300px;
		top:100px;
		text-align:center !important;
	}

.questions {
	margin: 30px 0;
}

.logo-img{
	
	height:100px;
	float:left;
}

.navbar-right p{
	
}