html {
  overflow-y: scroll;
}

body {
  background: #faf4fb;
 
}

nav {
	background: #faf4fb !important;
	border:none !important;
}

.navbar-brand{
	font-family: 'Cinzel', serif !important;
	font-weight: 700;
	color:#4B0082 !important;

}

.navbar-default .navbar-nav>li>a{
	color:#9400D3;
	font-family: 'Cinzel', serif !important;
	font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{

color:#A48BB0 !important;
}

.navbar-right{
	margin-right:10px;
}

.footer-text{
	text-align:center !important;
	font-size: .8em;
	margin-top:10px;
	color: #3B2647;
}

h1, h2, h3{
	color:#9400D3;
	font-family: 'Cinzel', serif; 
	font-weight: 700;
}

.h3-heading{
	font-family: 'Cinzel', serif;
	font-weight: 700;
}

.questions-heading{
	color:#9400D3;
}


.main-lesson-title{
	text-align: center;
	padding-bottom:10px;
	color:#9400D3;
}

.lesson-title{
	text-align:center;
}

.pmd-textfield label {
   
   color: #3B2647;
   font-family:Roboto !important;
}

.hero-img {
  width:100%;

}

.brief-intro {
	margin: 20px 0;
	font-size: 16px;
	line-height: 24px;
}

.verse {
	margin: 10px 0 10px 0;
	padding:10px 0 20px 0;
	background-image: url("/assets/images/bible-bkg.jpg");
	background-repeat:none;
	color:#FFFFFF;
}

.verse-heading{
	margin:10px 0 10px 5px;
	color:#FFFFFF;
}

.lesson-holder {
	height:260px;
}

.lesson-holder img {
	width: 100%;
}

.btn-primary{
	background-color:#9400D3 !important;
}

.img-hover-style{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
}

.img-hover-style li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
}

.img-hover-style li:hover .caption{
		opacity: 1;
}

.img-hover-style li:hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
}


.img-hover-style img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
}


.img-hover-style .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
}

.img-hover-style img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
}
	
.img-hover-style .blur{
		background-color: rgba(142, 68, 173,0.95);
		height: 300px;
		width: 400px;
		z-index: 5;
		position: absolute;
}

.img-hover-style .caption-text h1{
		text-transform: uppercase;
		font-size: 1em;
		margin-left: 10px;
}

.img-hover-style .caption-text{
		z-index: 10;
		color: #fff !important;
		position: absolute;
		width: 400px;
		height: 300px;
		top:100px;
		text-align:center !important;
}

.lesson-heading{
	color: #fff;
}

.questions {
	margin: 30px 0;
}


.dailyVersesWrapper {
    padding: 10px;
    margin:5px;
    padding-bottom:40px;
    background: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px ;
    border-radius: 5px ;
}

.dailyVerses {
	font-size:1.3em;
}

.dailyVerses a {
	color:#FFFFFF;
	float:right;
	pointer-events: none;
    cursor: default;
    font-size:.9em;
}

.dailyVerses a::before {
    content: "- ";
}

.login-style{
	background-color:#dbbbe8;
	padding:10px 20px 30px 20px;
	margin-bottom:20px;

}

.register-style{
	background-color:#dbbbe8;
	padding:10px 20px 30px 20px;
	margin-bottom:20px;

}